<!DOCTYPE html>
<html lang="en">
<body>
    <th:block th:fragment="show-elements(elements, link)">
        <div class="container">
            <h1 class="text-center mb-5">BEST [[${link.toUpperCase()}]]</h1>
            <th:block th:if="${elements.length > 0}" th:each="element : ${elements}" th:object="${element}">
                <div class="m-auto border py-3 my-3 w-50">
                    <a th:href="|/${link}/*{id}|" class="text-decoration-none text-black text-decoration-underline">
                        <h3 class="text-center">[[*{title}]]</h3>
                    </a>
                </div>
            </th:block>
        </div>
    </th:block>
</body>
</html>